.properties--1{
margin: 20px;
padding: 2rem;
display: flex;
flex-wrap: wrap;
}

.item img{
    width: 400px;
    max-height: 300px;
    border-radius: 10px;
    object-fit: cover;

}
.item{
margin: 5px;
background-color: rgb(247, 243, 243);

}
h4{
    text-align: center;
}

.seemore--btn{  
   margin: 0 auto;
   margin-top: 10px;
   width: 25%;
   font-size: 14px;
   font-weight: bold;
   background: #f0f4f6;
   border-radius: 5px;
   
}
.seemore--btn:hover{
background: #deb887;
}
#btn-seemore{
align-items: center;
margin-left: 170px;
margin-top: 1rem;
}
.search-field{
    margin-left: 370px;
    margin-top: 20px;
    height: 30px;
}
.input-field{
    height: 30px;
}
.search-btn{
    height: 30px;
}